LANGCHAIN_API_KEY=<your_langchain_api_key_here>
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT='https://api.smith.langchain.com'
OPENROUTER_API_KEY=<your_openrouter_api_key_here>
USER_AGENT=<your_user_agent_name_here> (Can be any string, e.g., "university_chatbot/1.0")
CHAINLIT_AUTH_SECRET=<your_chainlit_auth_secret_here> (Can be any string, e.g., "my_chainlit_secret")

SECRET_KEY=<your_secret_key_here> (Can be any string, e.g., "super-secret-key-for-dev-only")
ACCESS_TOKEN_EXPIRE_MINUTES=120 # Token expiration time in minutes (Can be adjusted as needed)